@page "/fetchplatforms"
 
@using Google.Protobuf.WellKnownTypes
@using Grpc.Net.Client
@using Platforms.gRPC
<h1>Platforms</h1>

<p>This component demonstrates fetching data from the server.</p>


<DataGrid @ref="MyDataGrid"
          TItem="Platform"
          Data="_platforms" ShowPager PageSize="20"
          TotalItems="_platformsCount" ReadData="OnReadData"
          FixedHeader=true
          FixedHeaderDataGridHeight="60vh"
          FixedHeaderDataGridMaxHeight="1200px"
          CommandMode="DataGridCommandMode.ButtonRow">
    <DataGridColumns>
        <DataGridColumn Field="Name" Caption="Name" />
        <DataGridColumn Field="Description" Caption="Description" />
        <DataGridColumn Field="Version" Caption="Version" />
        <DataGridColumn Field="ReleaseDate" Caption="ReleaseDate" />
        <DataGridColumn Field="PlatformOperatingSystem" Caption="PlatformOperatingSystem" />
    </DataGridColumns>
</DataGrid>

